<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="col-md-2 pull-right">
            <a class="btn btn-primary btn-lg pull-left" ng-click="new()" ng-if="isAdmin()">
                <span class="ef-plus"></span> New</a>
            <a class="btn btn-primary btn-lg pull-right" ng-click="logout()">Logout</a>
        </div>
    </div>
    <br>
    <table class="table table-hover">
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Departure city</th>
            <th>Departure date</th>
            <th>Arrival city</th>
            <th>Arrival date</th>
            <th ng-if="isAdmin()"></th>
            <th ng-if="isAdmin()"></th>
        </tr>
        <tr ng-repeat="flight in flights">
            <td>{{flight.number}}</td>
            <td>{{flight.airplaneType}}</td>
            <td>{{flight.departureCity.name}}</td>
            <td>{{flight.departureDate}}</td>
            <td>{{flight.arrivalCity.name}}</td>
            <td>{{flight.arrivalDate}}</td>
            <td ng-if="isAdmin()"><a class="btn btn-primary btn-md" ng-click="edit(flight)">Edit</a></td>
            <td ng-if="isAdmin()"><a class="btn btn-primary btn-md" ng-click="delete(flight)">Delete</a></td>
        </tr>
    </table>
</div>