<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div>
            <label>Number</label>
            <input type="text" ng-model="editDetail.number" id="number" class="form-control" cat-autofocus>
        </div>
        <br>

        <div>
            <label>Type</label>
            <input type="text" ng-model="editDetail.airplaneType" id="type" class="form-control">
        </div>
        <br>

        <div>
            <label>Departure city</label>
            <select ng-model="editDetail.departureCity" class="form-control">
                <option ng-repeat="city in cities" value="{{city}}">{{city.name}}</option>
            </select>
        </div>
        <br>

        <div>
            <label>Departure date</label>
            <input type="date" ng-model="editDetail.departureDate" id="departureDate" class="form-control">
        </div>
        <br>

        <div>
            <label>Departure time</label>
            <input type="time" ng-model="editDetail.departureTime" id="departureTime" class="form-control">
        </div>
        <br>

        <div>
            <label>Arrival city</label>
            <select ng-model="editDetail.arrivalCity" class="form-control">
                <option ng-repeat="city in cities" value="{{city}}">{{city.name}}</option>
            </select>
        </div>
        <br>

        <div>
            <label>Arrival date</label>
            <input type="date" ng-model="editDetail.arrivalDate" id="arrivalDate" class="form-control">
        </div>
        <br>

        <div>
            <label>Arrival time</label>
            <input type="time" ng-model="editDetail.arrivalTime" id="arrivalTime" class="form-control">
        </div>
        <br>
        <a class="btn btn-primary btn-lg pull-right" ng-click="save()">Save</a>
        <a class="btn btn-primary btn-lg" ng-click="cancel()">Cancel</a>
    </div>
</div>