<div class="container">
    <form class="form-signin" ng-submit="login()" ng-controller="loginController">
        <h2 class="form-signin-heading">Please sign in</h2>

        <input type="text" ng-model="user.name" id="inputEmail" class="form-control" placeholder="Username" required
               autofocus>

        <input type="password" ng-model="user.password" id="inputPassword" class="form-control"
               placeholder="Password"
               required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>