<html>
<body>
<form action="#" th:action="@{/}" th:object="${car}" method="post">
    <table>
        <tr>
            <td>Year:</td>
            <td><input type="text" th:field="*{year}"/></td>
            <td th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</td>
        </tr>
        <tr>
            <td>Engine Capacity:</td>
            <td><input type="text" th:field="*{engineCapacity}"/></td>
            <td th:if="${#fields.hasErrors('engineCapacity')}" th:errors="*{engineCapacity}">Engine Capacity Error</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
    <table th:object="${result}" th:if="${result}">
        <tr>
            <td>Tax:</td>
            <td th:text="*{tax}"></td>
        </tr>
        <tr>
            <td>Selling price:</td>
            <td th:text="*{sellingPrice}"></td>
        </tr>
    </table>
</form>
</body>
</html>
